:host {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.c-page-food-btns {
  width: 40vw;
  max-width: 600px;
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.c-page-food-btn {
  width: 200px;
  height: 200px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: bisque;
  cursor: pointer;
  box-shadow: 0 0 14px rgba(0, 0, 0, .5);
  &:hover {
    box-shadow: 0 0 16px rgba(0, 0, 0, .7);
    filter: brightness(1.1);
  }
  &:active {
    filter: brightness(.8);
  }
}
